# Project [related stuff]
artifacts/
bin/
deployment_test/
docs/

# Visual Studio [related stuff]
.vscode/
.devcontainer/

# IntelliJ IDEA [related stuff]
.idea/
*.iml
out/

# Eclipse [related stuff]
.classpath
.project

# MAC OS [related stuff]
.DS_Store
